* { box-sizing: border-box; }

body {
    width: 100%;
    max-width: 960 px;
    padding: 0;
    border: 0;
    margin: 0;
    background-image: url("../img/fondo.png");
    background-repeat: repeat;
    display: flex;
    justify-content: center;

}

#caja {
    width: 50%;
    padding: 2rem;
    border-right: 2rem solid;
    border-left: 2rem solid;
    background-color: azure;
    border-color: midnightblue;
}

header {
    width: 100%;
    padding: 2rem;
    background-color:midnightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    padding: 0;
    border: 0;
    margin: 0;
    font-size: 5rem;
}

h2 {
    font-size: 2rem;
}

header p {
    padding: 0;
    border: 0;
    margin: 0;
    font-size: 1.5rem;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    background-color:rgb(85, 135, 226);
}

nav li {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-color:aqua;
    background-color: brown;
}

nav a {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    
    margin: 0;
}

nav a:link {
    color:black;
    background-color: rgb(85, 135, 226);
}

nav a:visited {
    color:black;
    background-color: rgb(71, 118, 204);
}

nav a:hover {
    color:white;
    background-color: rgb(71, 118, 204);
}

nav a:active {
    color:rgb(68, 68, 68);
    background-color: rgb(39, 76, 145);
}

footer a:link {
    color:rgb(111, 104, 131);
}

footer a:visited {
    color:black;
}

footer a:hover {
    color:white;
}

footer a:active {
    color:rgb(68, 68, 68);
}

blockquote {
    text-align: right;
    font-size: 1.5rem;
}

h3 {
    font-size: 1.3rem;
}

h1, h2, h3 {
    font-family: Abel;
}

h2 {
    text-align: center;
}

iframe {
    padding: 1rem;
    background-image: url("../img/fondo.png");
}

img {
    max-width: 100%;
    padding: 1rem;
    background-image: url("../img/fondo.png");
}

#video {
    display: flex;
    justify-content: center;
}

.artcimg {
    margin-bottom: 2rem;
    display: flex;
    justify-content:baseline;
    
}

#img1 {
    margin-left: 2rem;
}

#img2 {
    margin-right: 2rem;
}

.imagen {
    max-width: 100%;
}

.pie {
    margin-top:0;
    text-align: center;
    color: cadetblue;
    background-color: rgb(39, 48, 180);
}

footer {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    background-color: midnightblue;
}