/* Para mejor control del tamaño de las cajas */
* { box-sizing: border-box; }

body {
    width: 100%;
    max-width: 2000px;
    padding: 0;
    border: 0;
    margin: 0;
    background-image: url("../img/fondo.png");
    background-repeat: repeat;

    /* Para que no maree el bajar por la página */
    background-attachment: fixed;

    display: flex;
    justify-content: center;
}

/* Caja con fondo de color sólido más chica que el fondo para mayor legibilidad */
#caja {
    width: 50%;
    padding: 2rem;
    border-right: 2rem solid;
    border-left: 2rem solid;
    background-color: #D5EDF2;
    border-color: #277A8C;
}

header {
    padding: 2rem;

    /* Compensación con márgen negativo para el padding de la #caja */
    margin: -2rem -4rem 0 -4rem;

    background-color:#277A8C;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #073040;
    padding: 0;
    border: 0;
    margin: 0;
    font-size: 5rem;
}

h1, h2, h3 {
    font-family: Abel;
}

header p {
    color: #D5EDF2;
    padding: 0;
    border: 0;
    margin: 0;
    font-size: 1.5rem;
}

nav ul {

    /* Compensación con márgen negativo para el padding de la #caja */
    margin: 0 -4rem;

    list-style-type: none;
    display: flex;
    justify-content: center;
    background-color:#073040;
}

nav li {
    font-family: Abel;
    font-weight: bold;
    font-size: 1.2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

a {
    text-decoration: none;
}

nav a {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

nav a:link {
    color:#D5EDF2;
    background-color: #073040;
}

nav a:visited {
    color:#44AFF2;
    background-color: #073040;
}

nav a:hover {
    color:#073040;
    background-color: #277A8C;
}

nav a:active {
    color:rgb(68, 68, 68);
    background-color: #D5EDF2;
}

blockquote {
    color: #277A8C;
    text-align: right;
    font-size: 1.5rem;
}

h2 {
    color: #073040;
    font-size: 2rem;
    text-align: center;
}

h3 {
    color: #073040;
    font-size: 1.3rem;
}

img {
    max-width: 100%;

    /* Les agrego un marco con el patrón del fondo general a las imágenes */
    padding: 1rem;
    background-image: url("../img/fondo.png");
}

.artcimg {
    margin-bottom: 2rem;
    display: flex;
}

#img1 {
    margin-left: 2rem;
}

#img2 {
    margin-right: 2rem;
}

.imagen {
    max-width: 100%;
    width: 20rem;

    /* Evita que el flexbox achique las imágenes cuando el texto necesita más espacio. */
    flex-shrink: 0;

}

.pie {
    margin-top:0;
    text-align: center;
    color: cadetblue;
    background-color: #073040;
}

#video {
    display: flex;
    justify-content: center;
}

iframe {

    /* Le agrego un marco con el patrón del fondo general al video */
    padding: 1rem;
    background-image: url("../img/fondo.png");

}

footer {

    /* Compensación con márgen negativo para el padding de la #caja */
    margin: 2rem -4rem -2rem -4rem;

    display: flex;
    justify-content: center;
    background-color: #277A8C;
}

footer a:link {
    color:#D5EDF2;
}

footer a:visited {
    color:#44AFF2;
}

footer a:hover {
    color:#1BA0F2;
}

footer a:active {
    color: #073040;
}